@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="text-capitalize">car insurance calculator</h1>
</div>
<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Enter Info below for a Quote!</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>

                <div class="form-group col-md-12">
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group col-md-12">
                    <input name="DOB" type="date" class="form-control" placeholder="Date of Birth" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarYear" type="text" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div class="form-group col-mid-2">
                    <p>Do you have a DUI?</p>
                </div>

                <div class="form-group col-md-2">
                    <input name="DUI" type="radio" class="form-control" id="Yes" value="true"><label for="Yes">Yes</label>
                </div>
                <div class="form-group col-md-2">
                    <input name="DUI" type="radio" class="form-control" id="No" value="false"><label for="No">No</label>
                </div>
                <div class="form-group col-md-12">
                    <input name="Tickets" type="number" class="form-control" placeholder="Number of Speeding Tickets" />
                </div>
                <div class="form-group col-mid-2">
                    <p>Do you want full or liability coverage?</p>
                </div>

                <div class="form-group col-md-2">
                    <input name="coverage" type="radio" class="form-control" id="Full" value="true"><label for="Full">Full</label>
                </div>
                <div class="form-group col-md-2">
                    <input name="coverage" type="radio" class="form-control" id="Liability" value="false"><label for="Liability">Liability</label>
                </div>

                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
                }
            </div>
    </div>
</div>
